menu-width = 8rem

.proposal-container.ui.segment
  position relative
  .proposal-menu.ui.vertical.menu
    display none
  &.with-menu
    padding-left menu-width + 1rem
    .proposal-menu.ui.vertical.menu
      display block
      position fixed
      top 43px
      //top 0
      bottom 43px
      left 0
      margin-bottom -43px
      float left
      width menu-width
      //height 100%
      overflow-y scroll
